.advantage {
  width: 100%;
  background: #e3eeed;
  @media (min-width: 961px) {
    background: linear-gradient(to right, #e3eeed 50%, #214e41 50%);
  }

  // .advantage__container
  &__container {
    display: flex;
    @media (max-width: 960px) {
      display: block;
    }
  }

  &__body,
  &__item-box {
    flex: 1 1 50%;
    @media (max-width: 960px) {
    }
  }

  &__body {
    padding: 120px 0;
    @media (max-width: 960px) {
      padding: 40px 0;
    }
  }

  // .advantage__question
  &__question {
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #214e41;
    margin-bottom: 20px;
  }

  // .advantage__tabs
  &__tabs {
  }

  &__tabs:not(:last-child) {
    margin-bottom: 10px;
  }
}

.tabs {
  // .tabs__tab
  &__tab {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 131%;
    color: #43806c;
    & a {
      @media (max-width: 500px) {
        white-space: normal;
      }
    }
  }

  &__tab:not(:last-child) {
    margin-bottom: 18px;
  }

  &__tab.active {
    font-weight: bold;
    color: #214e41;
    & a {
      transition: 0s;
      padding-right: 40px;
      background: url("../../img/dist/icon_right_arrow.png") right 50% no-repeat;
    }
  }

  // .tabs__link
  &__link {
  }

  // .tabs__item
  &__item {
    padding: 160px 16px 100px 100px;
    background: #214e41;
    display: none;
    &.active {
      display: block;
    }
    @media (max-width: 1200px) and (min-width: 961px) {
      padding: 160px 16px 100px 40px;
    }
    @media (max-width: 960px) {
      padding: 40px 16px;
    }
    & p {
      font-weight: normal;
      font-size: 20px;
      line-height: 170%;
      letter-spacing: 0.02px;
      color: #ffffff;
    }
  }
}
