// GENERAL PROJECT STYLES
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  white-space: nowrap;
  &:hover {
    color: inherit;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wraper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.__container {
  max-width: $container-width;
  padding: 0 16px;
  margin: 0 auto;
}

.__header-container {
  max-width: $header-container-width;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
}

.page {
  flex: 1 1 auto;
  min-width: 0;

  // .page__intro
  &__intro {
  }

  // .page__why
  &__why {
  }

  // .page__advantage
  &__advantage,
  &__plans,
  &__howItWorts,
  &__customers {
    margin-top: 120px;
    @media (max-width: 960px) {
      margin-top: 40px;
    }
  }

  // .page__howItWorts
  &__howItWorts {
  }

  // .page__employe
  &__employe {
  }

  &__customers {
  }
}

.footer {
}

.btn {
  // .btn__link
  &__link {
  }
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 128%;
  color: #214e41;
  @media (max-width: 400px) {
    font-size: 30px;
  }
}

.info {
  display: flex;
  @media (max-width: 729px) {
    display: block;
  }

  &__body,
  &__img {
    flex: 1 1 50%;
  }

  &__body {
    padding-right: 44px;
  }

  &__pretitle {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806c;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 34px;
    @media (max-width: 400px) {
      margin-bottom: 24px;
    }
  }

  &__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02px;
    color: #757575;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__link {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02px;
    color: #214e41;
    text-align: left;
    max-width: 107px;
    border-bottom: 2px solid #214e41;
    & a {
      padding: 2px 15px 0;
      display: flex;
      text-align: center;
      white-space: pre-wrap;
    }
    @media (min-width: 960px) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__img {
    align-self: center;
    text-align: center;
    @media (max-width: 729px) {
      margin-top: 20px;
    }
    & img {
      max-width: 100%;
      height: auto;
    }
  }
}
