.howItWorts {
  // .howItWorts__container
  &__container {
  }

  // .howItWorts__info
  &__info {
    align-items: flex-end;
    @media (max-width: 729px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  // .howItWorts__info-img
  &__info-img {
    padding-right: 50px;
    align-self: flex-end;
    @media (max-width: 729px) {
      align-self: center;
      justify-self: flex-start;
      padding-right: 0;
    }
  }

  // .howItWorts__info-body
  &__info-body {
    padding-left: 20px;
    padding-bottom: 100px;
    @media (max-width: 729px) {
      padding-bottom: 0px;
    }
  }

  // .howItWorts__info-pretitle
  &__info-pretitle {
  }

  // .howItWorts__info-title
  &__info-title {
  }

  // .howItWorts__info-text
  &__info-text {
  }
}
