.intro {
  height: 720px;
  background: url("../../img/src/background_1st_section.jpg") 50% 0 no-repeat;
  background-color: #dfdede;
  position: relative;

  @media (max-width: 1015px) {
    background-position: 75% 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(#fff, 0.4);
    }
  }
  // .intro__container
  &__container {
  }

  // .intro__body
  &__body {
    padding-top: 150px;
    max-width: 500px;
    position: relative;
    z-index: 4;
  }

  // .intro__title
  &__title {
    margin-bottom: 40px;
    @media (max-width: 440px) {
      font-size: 30px;
    }
  }

  // .intro__text
  &__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #214e41;
    margin-bottom: 16px;
  }

  &__form {
    max-width: 405px;
    display: flex;
    @media (max-width: 440px) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .intro__input
  &__input {
    height: 60px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 6px 0px 0px 6px;
    border: 0;
    &::placeholder {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 143%;
      color: #222222;
    }
    @media (max-width: 440px) {
      border-radius: 6px;
    }
  }

  // .intro__btn
  &__btn {
    width: 125px;
    height: 60px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 154%;
    color: #ffffff;
    background: #43806c;
    border-radius: 0px 6px 6px 0px;
    border: 0;
    @media (min-width: 960px) {
      &:hover {
        opacity: 0.6;
      }
    }
    @media (max-width: 440px) {
      margin-top: 10px;
      width: 100%;
      border-radius: 6px;
    }
  }
}
