.letstalk {
  background-color: #e3eeed;

  // .letstalk__container
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  // .letstalk__info
  &__info {
  }

  // .letstalk__info-img
  &__info-img {
  }

  // .letstalk__info-body
  &__info-body {
    display: flex;
    align-items: center;
  }

  &__wrap {
    max-width: 423px;
    margin-left: 120px;
  }

  // .letstalk__info-title
  &__info-title {
    margin-bottom: 46px;
  }

  // .letstalk__info-text
  &__info-text {
    margin-bottom: 60px;
  }
  @media (max-width: 1150px) and (min-width: 910px) {
    &__wrap {
      margin-left: 60px;
    }
    &__info-title {
      margin-bottom: 30px;
    }
    &__info-text {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 909px) and (min-width: 730px) {
    &__info-title,
    &__info-text {
      font-size: 30px;
    }
    &__wrap {
      margin-left: 30px;
    }
    &__info-title {
      margin-bottom: 20px;
    }
    &__info-text {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 729px) {
    &__info-title,
    &__info-text {
      font-size: 28px;
    }
    &__wrap {
      margin-left: 30px;
      position: relative;
      margin-top: 30px;
    }
    &__info-title {
      margin-bottom: 20px;
    }
    &__info-text {
      margin-bottom: 25px;
    }
    &__btn {
      position: absolute;
      bottom: 25px;
      left: 50%;
      width: 125px;
      height: 50px;
      // margin-top: -25px;
    }
  }
  // .letstalk__btn
  &__btn {
    max-width: 125px;
  }
}
